#!/sbin/openrc-run
# Managed by Ansible (roles/app_service).

name="temperingworks-server"
description="temperingworks C++ C10K web/TCP server"
command="{{ app_bin_dir }}/{{ app_binary_name }}"
command_args="--port ${APP_PORT} --static-dir {{ app_static_dir }}"
command_background=true
command_user="{{ app_user }}:{{ app_group }}"
pidfile="/run/${RC_SVCNAME}.pid"
output_log="{{ app_log_dir }}/{{ service_name }}.log"
error_log="{{ app_log_dir }}/{{ service_name }}.error.log"

depend() {
    need net
    after firewall
}
